<h1>Welcome! Did you eat yet?</h1>

<h3>List of Recipes</h3>


<% @recipe.sort_by{|recipe| recipe.created_at}.reverse!.each_slice(3) do |recipes| %>
    <div class='row'>
        <% recipes.each do |recipe| %>
        <div class='col-md-4'>
            <div class ='recipe'>
                <div class='image_wrapper'>
                    <%= image_tag(recipe.image)%>
                </div>
                <h2> <%= link_to recipe.name, recipe_url(recipe.id) %> </h2>
             </div>
         </div>
        <% end %> 
    </div>
<% end %>
