<h1>Welcome! Did you eat yet?</h1>

<h3>List of Recipes</h3>
<table>
    <tr>
        <th>Name of Dish</th>
        <th>Description</th>
    </tr>

<% @recipes.sort_by{|recipe| recipe.created_at}.reverse!.each do |recipe| %>
    <tr>
        <td><%= link_to recipe.name, recipe_url(recipe.id) %></td>
        <td><%= recipe.description %></td>
    </tr>
    
<% end %>
</table>