<h1>Welcome! Did you eat yet?</h1>

<h3>List of Recipes</h3>


<% @recipe.sort_by{|recipe| recipe.created_at}.reverse!.each_slice(3) do |recipes| %>
    <div class='row'>
        <% recipes.each do |recipe| %>
        <div class='col-md-4'>
            <div class ='recipe'>
                <div class='image_wrapper'>
                    <%= link_to (image_tag recipe.image.url(:medium)), recipe_url(recipe.id) %>
                </div>
                <h2><%= link_to recipe.name, recipe_url(recipe.id) %></h2>
                <p><%= recipe.user_likes.count %> likes</p>
            </div>
        </div>
        <% end %> 
    </div>
<% end %>
